body {
    background: url(../imgs/background.jpg);
    background-size: cover;
}

.login {
    height: 650px;
    width: 450px;
    background: rgb(3,3,3,0.4);
    box-sizing: border-box;
    color: #fff;
    margin: 75px auto;
    margin-top: 80px;
    position: relative;
    padding: 50px 20px
}

.login h1{
    text-align: center;
}

.login form *:not(.cb){
    width: 100%;
    margin-top: 50px;
    display: block;
}

.login form a {
    color: #0abde3;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input.submit {
    margin-top: 40px;
    width: 200px;
    background: #82ccdd;
    padding: 5px;
    color: #fff;
    border: none;
    margin-bottom: 20px;
    border-radius: 15px;
    text-align: center;
}

input.submit:hover {
    cursor: pointer;
    background: #60a3bc;
    color: #fff;
}

*::placeholder {
    color: #dfdfdf
}

.inputt {
    background: transparent;
    border: none;
    border-bottom: 2px solid #82ccdd;
    color: #fff;
}

.inputt:focus {
    border-bottom: 2px solid #93ddff;
}

.bg {
    height: 100px;
    background: none;
    overflow: hidden;
}